body {background-color: #02001b;
color: #000000;}

nav {text-align: center;
font-size: 1.5em;
border: 5px solid #DFA500;
border-style: inset;
border-radius: 3px;
background-color: #F5FEFF;
float: right;
width: 80%;
margin: 3em 5em 0 0;
a {color: #000000;}}

header {float: left;
width:10%;
margin: 2em 0 2em 2em;}

main {
    width: 85%;
    background-color: #F5FEFF;
    clear: both;
    margin: auto;
    border: 3px solid #4D4D4D;
    border-style: inset;
    border-radius: 3px;
    padding-left: 4px;
}

footer {
clear: both;
background-color: #4D96FB;
color: #0B005B;
padding-top: 3px;
padding-bottom: 3px;
/*
border: 5px solid #1C00BD;
border-radius: 3px;
*/
text-align: center;
font-size: .85em;}

img {max-width: 100%;
    display: block;
}

.split2_l , .split2_r {padding-left: 5px;
background-color: #F5FEFF;
border: 3px solid #4D4D4D;
border-style: inset;
border-radius: 3px;}

.split2_l {float: left;
width: 46%;
margin: 0 0 0 2%;}

.split2_r {float:right;
width: 46%;
margin: 0 2% 0 0;}

.mini_h {text-align: center;}